<section>
  <div class="timer">
    <p>{{timer}}</p>
  </div>
  <div class="pregunta">
    <h3>{{ enunciado }}</h3>
    <form action="">
      <input
        type="button"
        class="btn btn-border-pop"
        [value]="valores?.[0]"
        (click)="verificarRespuesta(valores?.[0])"
        [disabled]="respuestasBloqueadas.has(valores?.[0])"
      />
      <input
        type="button"
        [value]="valores?.[1]"
        (click)="verificarRespuesta(valores?.[1])"
        [disabled]="respuestasBloqueadas.has(valores?.[1])"
      />
      <input
        type="button"
        [value]="valores?.[2]"
        (click)="verificarRespuesta(valores?.[2])"
        [disabled]="respuestasBloqueadas.has(valores?.[2])"
      />
      <input
        type="button"
        [value]="valores?.[3]"
        (click)="verificarRespuesta(valores?.[3])"
        [disabled]="respuestasBloqueadas.has(valores?.[3])"
      />
    </form>
  </div>

  <div class="consumibles">
    <button [ngClass]="{'bomba btn-bloqueado': bombaBloqueado}" (click)="bloquearPregunta()">💣x{{tiendaUsuario?.cantBombas}}</button>
    <button [ngClass]="{'conejo btn-bloqueado': conejoBloqueado}" (click)="saltarPregunta()">🐰x{{tiendaUsuario?.cantConejos}}</button>
    <button [ngClass]="{'reloj btn-bloqueado': relojBloqueado}" (click)="aumentarTimer()">⏳x{{tiendaUsuario?.cantRelojes}}</button>
  </div>
  

</section>
