<section>
  <div class="timer">
    <p>{{timer}}</p>
  </div>
  <div class="pregunta">
    <h3>{{ enunciado }}</h3>
    <form action="">
      <input
        type="button"
        class="btn btn-background-slide"
        [value]="valores?.[0]"
        (click)="buttonHabilitado && verificarRespuesta(valores?.[0], 0)"
        [ngClass]="{
          'rtaCorrecta': rtaCorrecta === 0,
          'rtaIncorrecta': rtaIncorrecta === 0
        }"
        [disabled]="respuestasBloqueadas.has(valores?.[0])"
      />
      <input
        type="button"
        class="btn btn-background-slide"
        [value]="valores?.[1]"
        (click)="buttonHabilitado && verificarRespuesta(valores?.[1], 1)"
        [ngClass]="{
          'rtaCorrecta': rtaCorrecta === 1,
          'rtaIncorrecta': rtaIncorrecta === 1
        }"
        [disabled]="respuestasBloqueadas.has(valores?.[1])"
      />
      <input
        type="button"
        class="btn btn-background-slide"
        [value]="valores?.[2]"
        (click)="buttonHabilitado && verificarRespuesta(valores?.[2], 2)"
        [ngClass]="{
          'rtaCorrecta': rtaCorrecta === 2,
          'rtaIncorrecta': rtaIncorrecta === 2
        }"
        [disabled]="respuestasBloqueadas.has(valores?.[2])"
      />
      <input
        type="button"
        class="btn btn-background-slide"
        [value]="valores?.[3]"
        (click)="buttonHabilitado && verificarRespuesta(valores?.[3], 3)"
        [ngClass]="{
          'rtaCorrecta': rtaCorrecta === 3,
          'rtaIncorrecta': rtaIncorrecta === 3
        }"
        [disabled]="respuestasBloqueadas.has(valores?.[3])"
      />
    </form>
</div>
  <div class="consumibles">
    <button [ngClass]="{'bomba btn-bloqueado': bombaBloqueado}" (click)="bloquearPregunta()">💣x{{tiendaUsuario?.cantBombas}}</button>
    <button [ngClass]="{'conejo btn-bloqueado': conejoBloqueado}" (click)="saltarPregunta()">🐰x{{tiendaUsuario?.cantConejos}}</button>
    <button [ngClass]="{'reloj btn-bloqueado': relojBloqueado}" (click)="aumentarTimer()">⏳x{{tiendaUsuario?.cantRelojes}}</button>
  </div>
  
</section>
