/* header{
    background-color: none;
    width: 60%;
    margin: 0 auto;
    padding-top: 2%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
} */

nav{
    background-color: none;
    width: 60%;
    margin: 0 auto;
    padding-top: 2%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

div {
    width: 100%;
    height: 10rem;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

a {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    font-size: 3rem;
}

#jugar{
    background-color: var(--entretenimiento);
    border-top-left-radius: 2rem;
}

#tienda{
    background-color: var(--deportes);
}

#estadisticas{
    background-color: var(--geografia);
    border-top-right-radius: 2rem;
}

