<body>
  <div class="container">
    <div class="spinBtn" (click)="girar()">Girar</div>
    <div class="wheel" #wheel>
      <div class="number" style="--i:1;--clr:#feae00;"><span>⚽🏈</span></div>
      <div class="number" style="--i:2;--clr:#b102b7;"><span>🗿🏛️</span></div>      
      <div class="number" style="--i:3;--clr:#1937e0;"><span>🗺️🌎</span></div>
      <div class="number" style="--i:4;--clr:rgb(219, 112, 162);"><span>🎨🎭</span></div>
      <div class="number" style="--i:5;--clr:rgb(228, 0, 0);"><span>🎈🎮</span></div>
      <div class="number" style="--i:6;--clr:rgb(38, 228, 0);"><span>🧪👨‍🔬</span></div>
    </div>
  </div>
</body>

 