<div class="ruleta-container">
    <div class="ruleta" [@spin]="spinState">
      <div id="1" class="opcion" style="color: blue;">DEPORTE</div>
      <div id="2" class="opcion" style="color: red;">HISTORIA</div>
      <div id="3" class="opcion" style="color: green;">GEOGRAFIA</div>
      <div id="4" class="opcion" style="color: orange;">ARTE</div>
      <div id="5" class="opcion" style="color: purple;">ENTRETENIMIENTO</div>
      <div id="6" class="opcion" style="color: brown;">CIENCIA</div>

    </div>
  </div>
  <div class="container">
    <button (click)="spin()">Girar</button>
  </div>
