<section>
  <div class="productos-container">
    <div class="producto" *ngFor="let producto of listaProductos">
      
        <img [src]="producto.urlImg" alt="{{ producto.descripcion }}" class="image-producto"/>
        <div class="producto-info">
          
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.descripcion }}</p>
          <p>Precio: ${{ producto.precio }}</p>
        </div>
        
        <form [formGroup]="formCompra" (ngSubmit)="comprarProducto(producto.id, producto.precio)">
          <input type="number" name="cantidad" id="cantidad" formControlName="cantidad">
          <input type="submit" value="¡Comprar!">
        </form>
    </div>
  </div>
</section>
