<section>
  <div class="productos-container">
    <div class="producto" *ngFor="let producto of listaProductos">
      
      <h3 class="image-producto">{{producto.urlImg}}</h3> 
        <div class="producto-info">
          
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.descripcion }}</p>
          <p>Precio: ${{ producto.precio }}</p>
        </div>
        
        <form [formGroup]="formCompra" (ngSubmit)="comprarProducto(producto.id, producto.precio)">
          <input type="number" name="cantidad" id="cantidad" class="cantidad" formControlName="cantidad">
          <input type="submit" value="¡Comprar!" class="comprar">
        </form>
    </div>
  </div>
</section>
