<div>
  <img src="../../assets/logo.png" alt="">
</div>
<section>
  <h2>INICIAR SESION</h2>
  <!-- <form class="container" (ngSubmit)="loginUsuario()" [formGroup]="formLogin"> -->
    <form class="container" (ngSubmit)="iniciarSesion()" [formGroup]="formLogin">
    <div class="campo">
      <input type="email" id="email" class="email input" placeholder="Email" formControlName="email" />
    </div>
    <div class="campo">
      <input type="password" id="password" class="password input" placeholder="Contraseña" formControlName="password" />
    </div>
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
    <div class="campo">
      <input type="submit" value="Ingresar" id="ingresar" />
    </div>
    
    <div class="textoRegistro">
      <a routerLink="/registro">¿Nuevo en preguntadon't?</a>
    </div>
  </form>

</section>