<section>
  <form>
    <h2>Iniciar sesión.</h2>

    <div class="campo">
      <input 
        type="email" 
        id="email" 
        class="email" 
        placeholder="email" />
    </div>
    <div class="campo">
      <input
        type="password"
        id="password"
        class="password"
        placeholder="Contraseña"
      />
    </div>
    <div class="campo">
      <input type="submit" value="Ingresar" />
    </div>
  </form>
  <div>
    <a>¿Olvidaste tu contraseña?</a>
  </div>
  <div>
    <button> Registrarse</button>
  </div>
</section>
