<section>

  <form class="container">
    <h2 class="border">Iniciar sesión</h2>
    <h2 class="wave">Iniciar sesión</h2>

    <div class="campo">
      <input 
        type="email" 
        id="email" 
        class="email" 
        placeholder="Email" />
    </div>
    <div class="campo">
      <input
        type="password"
        id="password"
        class="password"
        placeholder="Contraseña"
      />
    </div>
    <div class="campo">
      <input type="submit" value="Ingresar" id="ingresar"/>
    </div>
  </form>

  <div class="container">
    <a>¿Olvidaste tu contraseña?</a>
  </div>

  <div class="container">
    <button id="registrarse"> Registrarse</button>
  </div>
</section>
