section{
  position: relative;
  top: 25rem;
  width: 50rem;
  height: 45rem;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.63);
}


.campo input, .campo button{
  width: 80%;
  margin: 0.5rem 0;
  height: 4rem;
  width: 95%;
  text-align: center;
  border-radius: 2rem;
  border: none;
  font-size: 2rem;
  transition: 0.3 ease;
}

h2{
  font-size: 5rem;
  margin-bottom: 3rem;
}

.campo input:focus, .campo button:focus{
  outline: none;
}

.campo input:hover, .campo button:hover{
  background-color: aqua;
  color: white;
}

.container{
  margin: 1rem 0 1rem 0;
}

.textoRegistro{
  margin-top: 3rem;
  font-size: 2rem;
  
}

.textoRegistro a{
  text-decoration: none;
  color: black;
}