section{
    width: 60%;
    height: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundcolor);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    gap: 2rem;
    color: var(--letra-normal)
}

.jugar{
    width: 75%;
    height: 12rem;
    background-color: var(--acentuar);
    font-size: 5rem;
    margin: 2rem 0;
    border: none;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
    color: var(--backgroundcolor);
    transition: 0.5s ease-in-out;
}

.jugar:hover{
    background-color: var(--positivo);
    color: var(--letra-negrita);
    font-size: 7rem;
}

.container-principal{
    width: 95%;
    font-size: 3rem;
}

.encabezado{
    font-size: 3rem;
    text-align: center;
}

.pendientes .encabezado{
    background-color: var(--positivo);
    color: var(--letra-negrita);
}
.finalizadas .encabezado{
    background-color: var(--acentuar2);
    color: var(--letra-negrita)
}

table{
    border-collapse: collapse;
}


.container-partidas{
    height: 15rem;
    overflow-y: auto;
    margin-bottom: 2rem;
    color: var(--letra-normal);
    text-align: center;
}

.lista-partidas{
    width: 100%;
}


