<main>
  <section>
    <button class="jugar" (click)="irAPlay()">¡JUGAR!</button>

    <div class="container-principal pendientes">
      <div class="encabezado">
        <h3>Partidas pendientes</h3>
      </div>
      <div class="container-partidas">
        <table class="lista-partidas">
          <tbody>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-principal finalizadas">
      <div class="encabezado">
        <h3>Partidas finalizadas</h3>
      </div>
      <div class="container-partidas">
        <table class="lista-partidas">
          <tbody>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            <tr>
              <td>ID: <span>12314</span></td>
              <td>vs <span>Nickname rival</span></td>
              <td>Aciertos: <span class="aciertos">8</span></td>
              <td>Ganador: <span>Jugador 1</span></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
