<main>
  <section>
    <button class="jugar" (click)="irAPlay()">¡JUGAR!</button>

    <div class="container-principal pendientes">
      <div class="encabezado">
        <h3>Partidas pendientes</h3>
      </div>
      <div class="container-partidas">
        <table class="lista-partidas">
          <tbody>
            <tr *ngFor="let item of listaPendientes">
              <td
                *ngIf="
                  listaUsuarios !== undefined &&
                  listaUsuarios[item.idUsuario1 - 1] !== undefined
                "
              >
                <span
                  *ngIf="listaUsuarios[item.idUsuario1 - 1] !== undefined"
                  >{{ listaUsuarios[item.idUsuario1 - 1].nickname }}</span
                >
                <span *ngIf="listaUsuarios[item.idUsuario1 - 1] === undefined"
                  >-</span
                >
                <span> VS </span>
                <span
                  *ngIf="listaUsuarios[item.idUsuario2 - 1] !== undefined"
                  >{{ listaUsuarios[item.idUsuario2 - 1].nickname }}</span
                >
                <span *ngIf="listaUsuarios[item.idUsuario2 - 1] === undefined"
                  >-</span
                >
              </td>

              <td *ngIf="item.idUsuario1 === idUsuario">
                <span>Aciertos: {{ item.aciertosUsuario1 }}/{{item.contadorUsuario1}}</span>
              </td>
              <td *ngIf="item.idUsuario2 === idUsuario">
                <span>Aciertos: {{ item.aciertosUsuario2 }}/{{item.contadorUsuario1}}</span>
              </td>

              <td *ngIf="item.idUsuario1 === idUsuario">
                <button *ngIf="item.usuarioFinalizo1 === false" class="btn-retomar" (click)="reanudarPartida(item.id)">Reanudar partida</button>
              </td>
              <td *ngIf="item.idUsuario2 === idUsuario">
                <button *ngIf="item.usuarioFinalizo2 === false" class="btn-retomar" (click)="reanudarPartida(item.id)">Reanudar partida</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-principal finalizadas">
      <div class="encabezado">
        <h3>Partidas finalizadas</h3>
      </div>
      <div class="container-partidas">
        <table class="lista-partidas">
          <tbody>
            <tr *ngFor="let item of listaTerminadas">
              <td
                *ngIf="
                  listaUsuarios !== undefined &&
                  listaUsuarios[item.idUsuario1 - 1] !== undefined &&
                  listaUsuarios[item.idUsuario2 - 1] !== undefined &&
                  (listaUsuarios[item.idUsuario1 - 1].id === idUsuario ||
                  listaUsuarios[item.idUsuario2 - 1].id === idUsuario )
                "
              >
                <span
                  *ngIf="listaUsuarios[item.idUsuario1 - 1] !== undefined"
                  >{{ listaUsuarios[item.idUsuario1 - 1].nickname }}</span
                >
                <span *ngIf="listaUsuarios[item.idUsuario1 - 1] === undefined"
                  >-</span
                >
                <span> VS </span>
                <span
                  *ngIf="listaUsuarios[item.idUsuario2 - 1] !== undefined"
                  >{{ listaUsuarios[item.idUsuario2 - 1].nickname }}</span
                >
                <span *ngIf="listaUsuarios[item.idUsuario2 - 1] === undefined"
                  >-</span
                >
              </td>

              <td *ngIf="item.idUsuario1 === idUsuario">
                <span class="aciertos">{{ item.aciertosUsuario1 }} - </span>
                <span class="aciertos">{{ item.aciertosUsuario2 }} </span>
              </td>
              <td *ngIf="item.idUsuario2 === idUsuario">
                <span class="aciertos">{{ item.aciertosUsuario1 }} - </span>
                <span class="aciertos">{{ item.aciertosUsuario2 }} </span>
              </td>

              <td>
                <span *ngIf="item.idUsuario1 === idUsuario && item.aciertosUsuario1>item.aciertosUsuario2"  >GANASTE! 🥳</span>
                <span *ngIf="item.idUsuario1 === idUsuario && item.aciertosUsuario1===item.aciertosUsuario2">EMPATE 🥱</span>
                <span *ngIf="item.idUsuario1 === idUsuario && item.aciertosUsuario1<item.aciertosUsuario2"  >PERDISTE! 😲</span>

                <span *ngIf="item.idUsuario2 === idUsuario && item.aciertosUsuario1<item.aciertosUsuario2"  >GANASTE! 🥳</span>
                <span *ngIf="item.idUsuario2 === idUsuario && item.aciertosUsuario1===item.aciertosUsuario2">EMPATE 🥱</span>
                <span *ngIf="item.idUsuario2 === idUsuario && item.aciertosUsuario1>item.aciertosUsuario2"  >PERDISTE! 😲</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
