@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
    font-family: 'Chewy', cursive;
    margin:0;
}
