@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


:root {
    --deportes: #feae00;
    --historia: #b102b7;
    --geografia: #1937e0;
    --arte: #db70a2;
    --entretenimiento: #e40000;
    --ciencia: #26e400;
    --backgroundcolor: #F7FFF7;
    --letra-normal: black;
    --letra-negrita: #343434;
    --acentuar: #00A3F5;
    --acentuar-bg: #cfcfcf;
    --acentuar2: #FFE66D;
    --negativo: #D90368;
    --positivo: #49DCB1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
    font-family: 'Chewy', cursive;
    margin: 0;
}
html, body, app-root {
    height: 100%;
    margin: 0;
}

.oculto {
    display: none;
}

.btn-bloqueado {
    opacity: 0.5;
    pointer-events: none;
}

.btn-bloqueado:hover {
    cursor: not-allowed;
}

.btn-retomar{
    font-size: 2rem;
    text-align: center;
    border: none;
    width: auto;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 1rem;
    background-color: var(--acentuar);
    transition: 0.3s ease-in-out;
}

.btn-retomar:hover{
    background-color: var(--positivo);
    color:white;
}

.customPopup{
    width: 60rem;
    height: 60rem;
}

.swal2-popup {
    font-size: 24px !important;
}

.swal2-styled {
    padding: 10px 32px 10px 32px !important;
    margin: 20px 10px 0px 10px !important;
    width: 170px;
    height: 45px;
}

.editarUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }