@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
    --background-color: rgb(163, 172, 255);
    --accent: rgb(0, 255, 221);
    --boder-size: 2px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
    font-family: 'Chewy', cursive;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

.oculto {
    display: none;
}

.btn-bloqueado {
    opacity: 0.5;
    pointer-events: none;
}

.btn-bloqueado:hover {
    cursor: not-allowed;
}