section{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--backgroundcolor);
  color: var(--letra-normal); 
  border-radius: 2%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 40rem;
}

.campo{
  width: 100%;
}
.campo .input{
  width: 75%;
  height: 5rem;
  text-align: center;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10rem;
  font-size: 2rem;
  transition: 0.3 ease;
}
.campo #btnRegistro{
  width: 75%;
  height: 5rem;
  text-align: center;
  border: none;
  background-color: var(--acentuar);
  border-radius: 10rem;
  font-size: 2rem;
  transition: 0.3 ease;
  color: var(--letra-negrita);
}

.campo .input:focus, .campo #btnRegistro:focus{
  outline: none;

}

.campo .input:hover{
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
}

.campo #btnRegistro:hover{
  background-color: var(--positivo);
  color: var(--backgroundcolor)
}


.textoLogin{
  font-size: 1.5rem;
  width: 50%;
  margin: 3rem 0;
}

.textoLogin a{
  text-decoration: none;
  color: var(--acentuar);
}

.textoLogin a:hover{
  color: var(--positivo);
}

.error{
  font-size: 2rem;
  color: var(--negativo);
}


h2{
  font-size: 3rem;
  padding: 2rem;
  color: var(--letra-negrita)
}
